.categoryTitle {
    margin: 24px 0  12px !important;
    font-size: 24px !important;
}
.groupButton {
    margin-bottom: 8px !important;
    border-width: 2px !important;
    font-size: 15px;
    padding: 4px 14px 
}
.inputGap {
    display: flex;
    margin: 4px 0;
}
.inputGap:nth-child(2) {
    margin-top: 8px;
}
.inputGap:last-child {
    margin-bottom: 24px;
}
.inputGap textarea {
    width: 50%;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #0000;
    background: #f7f7f7;
    outline: none;
    font-family: 'Roboto', sans-serif;
    resize: vertical;
    height: 48px;
    transition: all 0.2s ease;
}
.inputGap textarea:focus {
    border-bottom: 2px solid #1976d2;
}
.inputGap p {
    padding: 8px 12px 8px 0;
}

.inputGap textarea:nth-child(2) {
    border-right: 1px #ccc solid;
}

.dialogEditableTitle {
    font-family: 'Roboto', sans-serif;
    outline: none;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0 8px;
    border: 0;
    border-bottom: 2px solid #0000;
    padding: 8px 0 6px;
    width: 100%;
    transition: all 0.2s ease;
}
.dialogEditableTitle:focus {
    border-bottom: 2px solid #1976d2;
    background: #f2f2f2;
    padding: 8px 10px 6px;
}
.topHeader {
    display: flex;
    padding-left: 32px;
    margin-top: 8px;
}
.topHeader * {
    width: 50%;
}
.dayName {
    
    padding-left: 32px;
}
.dialogTitleWrap {
    display: flex;
    align-items: center;
    padding: 8px !important;
}

.boxLine {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
}

.boxLineWrap {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.boxLineWrapStatistics {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 600px) {
    .boxLineWrapStatistics {
        margin: -16px;
    }
    .boxLineWrap {
        flex-direction: column;
    }
}